.navbar{
    height: 5rem;
}
.footer{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.term-cond{
    display: flex;
    width: 100%;
    justify-content: center;
}
.term-cond p{
    margin: 5px;
    text-align: center;
}